.App {
  text-align: center;
}

.background{
  height: 100vh;
  background-size: cover;
  background-color: rgba(202, 202, 202, 1);
  background-image: url('../public/pawel-czerwinski-S5iAZrTM3Lg-unsplash.jpg');
}

.container{
  height: 90vh;
  display: flex;
}